/* WHITE * #ffffff */
/* LIGHT GREY * #dfe3eb  */
/* MEDIUM GREY * #6a707a */
/* DARK GREY * #424852 */
/* BLACK * #000000 */
/* BLUE * #1b40f7 * rgba(27, 64, 247)*/


/* ELEMENTS */

html {
  background-color: #dfe3eb; /* LIGHT GREY */
  line-height: 0.5;
}

img {
  border-radius: 50%;
  width: 60px;
}

p {
  font-size: .75rem;
  color: #6a707a; /* MEDIUM GREY */
}

h1 {
  color: #424852; /* DARK GREY */
  margin-left: 30px;
  padding-top: 40px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

/* CLASSES */

.flex-cot {
  display: grid;
  grid-template-columns: 80%;
  grid-gap: 2%;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-color: #ffffff; /* WHITE */
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  border-color: #424852; /* DARK GREY */
}

.info {
  padding-left: 5%;
  padding-right: 5%;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 3%;
  margin-bottom: 5%;
}

.search-btn {
  width: 20%;
  border: none;
  border-top: 2px solid #424852; /* DARK GREY */
  border-right: 2px solid #424852; /* DARK GREY */
  border-bottom: 2px solid #424852; /* DARK GREY */
  background-color: #424852; /* DARK GREY */
  color: #dfe3eb; /* LIGHT GREY */
}

      .search-btn:focus {
        background-color: rgba(27, 64, 247, .5); /* BLUE */
        color: #000000; /* BLACK */
      }



/* IDS */

#search {
 width: 30%;
 background-color: #ffffff; /* WHITE */
 color: #6a707a; /* MEDIUM GREY */
 border: none;
 border-top: 2px solid #424852; /* DARK GREY */
 border-left: 2px solid #424852; /* DARK GREY */
 border-bottom: 2px solid #424852; /* DARK GREY */
}

      #search:focus {
        color: #000000; /* BLACK */
      }


/* MEDIA QUIRIES */

@media (min-width: 768px) {

  h1 {
    text-align: left;
  }

  .search-form {
    justify-content: flex-end;
  }

  .search-btn {
    width: 10%;
  }

  .flex-cot {
    grid-template-columns: 40% 40%;
    grid-gap: 5%;
    padding: 25px;
  }

}

@media (min-width: 1024px) {

  .flex-cot {
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    padding: 25px;
  }

}
